.InfoCard{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-top: 1rem;
    background-color: var(--cardColor);
    padding: 1rem;
    border-radius: 1rem;
    width: 90%;
}

.InfoHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: var(--buttonBg);
    transition: all 100ms ease-out;
    width: 95%;
  }

.button:hover{
    cursor: pointer;
    color: var(--orange);
    background: transparent;
    border: 2px solid var(--orange);
  }

 .fc-button{
    height: 2rem;
    padding-left: 20px;
    padding-right: 20px;
 } 

 .logout-button{
    width: 7rem;
    height: 2rem;
    margin-top:0.5rem ;
    align-self: flex-end;
 }